nav
{
    height: 8%;
    #margin-bottom: 1%;
    width: 90%;
    margin: auto;
}

nav a button
{
    #height: 100%;
    width: 30%;
    background-color: white;
    #border-style: solid;
    border-style: inset;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 140%;
    margin: 4px 2px;
    cursor: pointer;
    border-color: #4CAF50;
}

nav a button:hover
{
    background-color: #4CAF50;
    border-style: solid;
    #border-style: inset;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-color: #4CAF50;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section
{
    margin: 3%;
    width: 95%;
    text-align: left;
}

section h2
{
    width: 90%;
    text-align: center;

}

header
{
    #height: 15%;
    width: 95vw;
    background-color: white;
    #border-style: solid;
    border-style: inset;
    color: black;
    #padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 140%;
    #margin: 4px 2px;
    cursor: pointer;
    border-color: #4CAF50;
    font-family: "Candara Light";
}

body
{
    width: 100%;

    align-items: center;
    align-content: center;
    text-align: center;
}

html
{
    text-align: center;
    align-items: center;
    align-content: center;
    text-align: center;
}