nav
{
    height: 8%;
    margin-bottom: 1%;
}

nav a button
{
    height: 100%;
    width: 32%;
    background-color: white;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 140%;
    margin: 4px 2px;
    cursor: pointer;
    border-color: #4CAF50;
}

nav a button:hover
{
    background-color: #4CAF50;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-color: #4CAF50;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}